:root{
    /* Color */
    --primary-color:#3B71FE;
    --boxText-color:#FFFFFF;
    --largeText-color: #0E0E2C;
    --text-color: rgba(14, 14, 44, 0.6);
    --footer-color: rgba(14, 14, 44, 0.8);

    /* sizing */
    --primary-size-32:2rem;
    --boxText-size-14:0.875rem;
    --navText-size-16:1rem;
    --LargeText-size-40:2.5rem;
    --text-size-22:1.375rem; 
    --text-size-34:2.125rem;

    /* font syle */
    --normal-style:normal;
    
    /* Font weight */
    --font-weight-400:400;
    --font-weight-500:500;
    --font-weight-600:600;
    --font-weight-700:700;
    /* Line height */
    --line--height-171:171%;
}
body
{
    /* max-width: 1080px;  */
	

}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    
}
.container
{
   
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
    overflow: hidden;
    font-style: var(--normal-style);
   
}
.containerbackground{
    background:rgba(160, 164, 171, 0.1);
    margin-top: 10%;

}

ul {
	list-style: none;
}
/* navigation */
.navbar {   
            height: 10%;
            width: 100%;
            display: flex;
            justify-content: space-between;
        
        }
        .Logo
        { 
            font-size: var(--primary-size-32);
            font-style: normal;
            font-weight: bold;
            color: var(--primary-color);
            text-decoration: none; 
        }
        .nav-list
        {
            padding: 0%;
            width: 53%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size:var(--navText-size-16);
            color: var(--text-color); 
        }
        .item a{
            text-decoration: none;
        }

        .X-button
        {
            background: var(--primary-color);
            border-radius: 4px;
            border: 0px solid;
            font-style: normal;
            font-weight: var(--font-weight-600);
            font-size: var(--boxText-size-14);
            cursor: pointer;
            color: var(--boxText-color);
            width: 12%;
        }
        /* about us */
        .aboutus{
            width: 100%;
            margin-top: 6%;
            text-align: center;
            font-style: var(--normal-style);
          
        }
        .aboutus h1{
            color:var(--primary-color);
            font-weight: var(--font-weight-700);
            font-size: var(--text-size-22);
        }
        .para1
        {
            color:var(--largeText-color);
            font-weight: var(--font-weight-700);
            font-size: var(--LargeText-size-40);
        }
        .para2
        {
            color:var(--text-color);
            font-weight: var(--font-weight-400);
            font-size: var(--text-size-22);
            line-height: var(--line--height-171);
        }
        .aboutus div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5%;
        }
        .aboutus div button
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .8rem;
            padding: 1.7% 3.5%;
            background:var(--primary-color);
            border: none;
            border-radius: 4px;
            color: var(--boxText-color);
            font-size: var(--boxText-size-14);
        }
        .aboutus div a{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .8rem;
            color: var(--largeText-color);
            font-size: var(--text-size-22);
            font-weight: var(--font-weight-500);
        }
        /* Team */
        .theteam{
            width: 100%;
            margin-top: 10%;
        }
        .theteam h1{
                        margin: 0;
                        font-style: var(--normal-style);
                        font-weight: var(--font-weight-700);
                        font-size: var(--text-size-22);
                      
                        color:var(--primary-color);
                    }
            .teamgroup{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 2%;
            }
            .teamgroup >p{
                margin: 0;
                color: var(--largeText-color);
                font-size: var(--LargeText-size-40);
                font-weight: var(--font-weight-700);
                font-style: var(--normal-style);
            }
            .profilepic{
                width: 100%;
                height: auto;
                border-radius: 4px;
            }
            .name{
                font-style: var(--normal-style);
                font-size: var(--text-size-22);
                font-weight:var(--font-weight-700);
            }
            .position{
                font-style: var(--normal-style);
                font-size: var(--navText-size-16);
                font-weight:var(--font-weight-400);
                color: var(--text-color);
            }

        /* testimoniel */

                .testmonial{
                    width: 100%;
                }
                .heading
                {
                    color: #3B71FE;
                    font-style: var(--normal-style);
                    font-weight: var(--font-weight-600);
                    font-size: var(--text-size-22);
                }
                .weoffer
                {
                    font-style: var(--normal-style);
                    font-weight: var(--font-weight-700);
                    font-size: var(--text-size-34);
                }
                .para3{
                    font-size: var(--navText-size-16);
                    font-weight: var(--font-weight-400);
                    line-height: var(--line--height-171);
                    font-style: var(--normal-style);
                    color: var(--text-color);
                }
                .founder
                {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    padding-top: 5%;
                 
                }
                .founder div img{
                    float: left;
                    text-align: center;
                    width: auto;
                    height: auto;
                    padding-right: 2%;
                    
                }
                .name{
                    padding-top: 2%;
                    font-weight: var(--font-weight-600);
                    font-size:var(--navText-size-16);
                    color: var(--largeText-color);
                }
                .position{
                    font-weight:var(--font-weight-500);
                    font-size: var(--navText-size-16);
                  
                    color: rgba(14, 14, 44, 0.8);
                }
        /* testimoniel */

        /* Footer */

                .footer{
                    width: 100%;
   
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                } 
                .footer div a{
                    margin-top: 5vh;

                }
                .footerhead{
                    font-style: normal;
                    font-weight: 600;
                    font-size: var(--navText-size-16);
                    line-height: 171.5%;
                    color: #0E0E2C;
                } 
                .footertext{
                    font-style: var(--normal-style);
                    font-weight:var(--font-weight-400);
                    font-size: var(--navText-size-16);
                    line-height: 171.5%;
                    color:var(--footer-color);
                }
                .footerflex{
                    display: flex;
                    flex-direction: row;
                    gap: 2%;
                }
               
                .footerimages1{
                    width: .75rem;
                    padding-right: 5px;
                    text-align: center;
                }
                .footerimages2{
                    width: 1.2rem;
                    padding-right: 5px;
                    text-align: center;
                }
                .textbox{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-left: 5%;
                    float: left;

                    width: 14rem;
                    height: 3rem;
                    background: url("images/Vectorfootervector.svg") center;
                    /* Gry/normal */

                    border: 1px solid #767676;
                    border-radius: 4px;
                    background: #FFFFFF;
                }
                .listitemfooter{
                    line-height: 1.6rem;
                }

        /* Footer */



